

<section>

  <h1>Welcome! {{user.username}}</h1>

  {{#each user.blogs as |blog|}}
    {{>blog_card 
        name=blog.title
        id=blog.id
        description=blog.description
        user=blog.user.username
  
    }}

    <form action="/profile/blogs/{{blog.id}}/delete" method="post">
    
      <button type="submit">Delete</button>
    
    </form>
  {{/each}}
  


</section>
