<section>

  <form action="/signup" method="post">
    <div>
      <label for="name-input">Name</label>
      <input type="text" name="name" id="name-input">
    </div>


    <div>
      <label for="password-input">Password</label>
      <input type="password" name="password" id="password-input">
    </div>

    <button type="submit">Signup</button>
    <a href="/login">Already have an account, please login</a>

    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}
  </form>


</section>

<script src="/js/signup.js"></script>